{% extends 'cod/cod_base.html' %}

{% block content %}
    <div class="container main-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="container toolbar">
                    <div class="row">
                        <div class="container toolbar">
                            <div class="row">
                                <div class="col-md-4 panel-search">
                                    <form method="GET" action="{% url 'cad.views.list_codificators' %}"
                                          id="search-form">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="q" value="{{ query }}"
                                                   placeholder="Buscar por código o descripción" id="query">
                                            <span class="input-group-btn">
                                             <button class="btn btn-primary" type="submit">
                                                 <span class="glyphicon  glyphicon-search"></span>
                                             </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-5 panel-buttons">
                                    <button class="btn btn-default reload">
                                        <span class="glyphicon glyphicon-refresh"></span> Actualizar
                                    </button>
                                    <a class="btn btn-default" href="{% url 'cad.views.add_codificator' %}">
                                        <span class="glyphicon glyphicon-plus"></span> Adicionar
                                    </a>
                                </div>

                                <div class="col-md-offset-8" align="right">
                                    <div class="input-group" id="pagination-box" align="right">
                                        <!-- Text filled dinamically with JavaScript -->
                                        <label class="paginator-text"></label>
                                        <span class="input-group-btn">
                                        {% if codificators.has_previous %}
                                          <a
                                                  href="?{% if query %}q={{ query }}&{% endif %}page={{ codificators.previous_page_number }}"
                                                  class="btn btn-default">
                                              <i class="fa fa-chevron-left"></i>
                                          </a>
                                        {% else %}
                                          <a type="button" class="btn btn-default disabled">
                                              <i class="fa fa-chevron-left"></i>
                                          </a>
                                        {% endif %}

                                          {% if codificators.has_next %}
                                              <a
                                                      href="?{% if query %}q={{ query }}&{% endif %}page={{ codificators.next_page_number }}"
                                                      class="btn btn-default">
                                                  <i class="fa fa-chevron-right"></i>
                                              </a>
                                          {% else %}
                                              <a class="btn btn-default disabled">
                                                  <i class="fa fa-chevron-right"></i>
                                              </a>
                                          {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                {% if codificators.paginator.count == 0 %}
                    <div>No hay ningún elemento que mostrar</div>
                {% else %}
                    <table class="table table-hover data-grid">
                        <thead>
                        <tr>
                            <th class="text-danger">CÓDIGO</th>
                            <th>DESCRIPCIÓN</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for codificator in codificators %}
                            {% if not codificator.deleted %}
                                <tr>
                                    <td>
                                        {{ codificator.code }}
                                    </td>
                                    <td>{{ codificator.description }}</td>
                                    <td align="right">
                                        <div class="btn-group">
                                            <a href="{% url 'cad.views.edit_codificator' code=codificator.code %}"
                                               class="btn btn-default btn-xs" data-toggle="tooltip" title="Editar">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <a id='remove-button'
                                               href="{% url 'cad.views.delete_codificator' code=codificator.code %}"
                                               class="btn btn-default btn-xs" data-toggle="tooltip" title="Eliminar">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>
                {% endif %}
            </div>
            <!-- ./panel -->
        </div>
    </div><!-- /.container -->
{% endblock %}

{% block custom_script %}
    <script>
        (function () {
            // Reload button
            $('.reload').on('click', function (e) {
                e.preventDefault();
                window.location.reload();
            });

            // Fill paginator
            var start_index = {{ codificators.start_index }};
            var end_index = {{ codificators.end_index }};
            var count = {{ codificators.paginator.count }};
            $('.paginator-text').text(start_index + '-' + end_index + ' de ' + count);

            // Add confirmation on remove buttons.
            $("a[id*='remove-button']").click(function() {
                return window.confirm("¿Está seguro de que desea eliminar el codificador?");
            });

        })();
    </script>
{% endblock %}