{% extends 'admin/admin_base.html' %}
{% load static %}

{% block breadcrumb %}
    <ol class="breadcrumb breadcrumb-sm">
        <li><a href="{% url 'admin.views.admin_user_list' %}">Usuarios</a></li>
        <li><a href="{% url 'admin.views.admin_user_edit' id=selected_user.id %}">Editar</a></li>
        <li class="active">Cambiar contraseña</li>
    </ol>
{% endblock %}

{% block page_title %}
    <img class="image-title" src="{% static 'controlcad/img/key.png' %}" alt="">
    Contraseña
{% endblock %}

{% block content %}
    <div class="container main-content">
        <div class="modal-dialog inline" style="width: 530px;">
            <form method="POST" action="{% url 'admin.views.admin_user_change_password' id=selected_user.id %}"
                  class="form-horizontal" role="form" id="password-form">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cambiar contraseña </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="new-password" class="col-sm-4 control-label">Contraseña nueva</label>

                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="new-password" name="new-password"
                                       placeholder="Contraseña nueva" required autofocus>
                            </div>
                        </div>
                        <div class="form-group" id="password-error">
                            <label for="confirm-password" class="col-sm-4 control-label">Confirmar contraseña</label>

                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                                       placeholder="Confirmar contraseña" required>

                                <label class="error-label" for="confirm-password">
                                    <i class="fa fa-question-circle fa-lg"></i> Las contraseñas no coinciden.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default"
                           href="{% url 'admin.views.admin_user_edit' id=selected_user.id %}">
                            Cancelar
                        </a>
                        <button class="btn btn-primary" type="submit" id="send-data">Aceptar</button>
                    </div>
                </div>
            </form>
        </div><!-- ./modal-dialog -->
    </div>
{% endblock %}

{% block custom_script %}
<script>
    (function () {
        /* New password form validation. */
        $('#password-form').submit(function () {
            var new_password = $('#new-password').val();
            var confirm_password = $('#confirm-password').val();

            if (new_password != confirm_password) {
                $('#password-error').addClass('has-error');
                $('.error-label:visible').fadeOut(); // If label is visible fade it out.
                $('.error-label').addClass('control-label').fadeIn().focus();
                return false; // Don't submit.
            }

            return true; // Submit!
        });
    })();
</script>
{% endblock %}
