/* user info button */
body .popover-title {
    background-color: #fff;
    padding: 22px 55px 10px 22px;
}

body .popover-content {
    background-color: #f5f5f5;
    padding: 10px 15px 10px 15px;
    box-shadow: 0px 2px 4px #D8D8D8 inset;
}

#user-data {
    font-weight: bold;
}

#user-email {
    color: #999;
}

#button-logout {
    margin-bottom: 0;
}

#user-button {
    padding-left: 20px;
    padding-right: 20px;
}

.popover.bottom .arrow {
    left: 90%;
}

.container.content {
    padding-top: 20px;
    background-color: #f5f5f5
}