{% extends 'scan/single/single_base.html' %}

{% block breadcrumb %}
    <ol class="breadcrumb breadcrumb-sm">
        <li><a href="{% url 'scan.views.list_single' %}">Listado</a></li>
        <li class="active">Subir</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container main-content">
        <div class="modal-dialog inline" style="width: 500px;">
            <form method="POST" action="{% url 'scan.views.upload_single' %}" enctype="multipart/form-data" role="form">
                {% csrf_token %}
                <input type="hidden" name="previous" value="">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Seleccione un fichero</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="file" id="file" name="file">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="denomination" rows="6"
                                      placeholder="Denominación" name="denomination" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" href="{% url 'scan.views.list_single' %}">
                            Cancelar
                        </a>
                        <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-open"></span>
                            SUBIR
                        </button>
                    </div>
                </div>
            </form>
        </div><!-- ./modal-dialog -->
    </div>
{% endblock %}